.header {
    position: absolute;
    display: inline;
    gap: 10px;
    color: white;
    font-size: 2.5vh;
    font-style: bold;
    cursor: pointer;
    background-color: red;
    z-index: 1;
    transition: 0.5s;
}
.ad {
    z-index: 0;
    position: absolute;
    background-color: var(--cor-h, red);
    top: 0.2vh;
    height: 5.7vh;
    width: 100%;
    left: 0vh;
    transition: var(--t, 0s);
}
header {
    position: absolute;
    display: inline;
    
}

.hd {
    position: absolute;
    background-color: rgb(168, 0, 0);
    padding: 1.4vh 2.5vh;
    border-radius: 3%;
    transition: 0.5s;
}

.n1 {
    left: 0vh;   
}
.n2 {
    left: 10vh;
}
.n3 {
    left: 20vh;
}

.header:hover {
    font-size: 2.7vh;
}

.bv {
    position: absolute;
    top: 14vh;
    left: 73vh;
    color: white;
    font-size: 6vh;
    transition: opacity 1s ease;
}